body {
  margin: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contain {
  width: 500px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.card {
  width: 200px;
  height: 150px;
  background: gray;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
  border-radius: 20px;
  color: white;
}
